/* The line of code below grants somewhat of a clean slate when it comes to formatting, making formatting easier*/
*{margin: 0; padding: 0}

/* This section deals with simple quality of life classes that help mold images and text.*/
.aligncenter{
    display: flex;
    justify-content: center;
}

.bold{
    font-weight:bold;
}

.italic{
    font-style:italic;
}

/* This section deals with the various background colors and images used for the website.*/
.homebackground{
    background-image: url(images/night.jpg);
}

.dukebackground{
    background-color:black;
}

.pierrotbackground{
    background-color:rgb(255, 245, 254);
}

.tombackground{
    background-color:rgb(3, 2, 39);
}

.ziggybackground{
    background-color:rgb(255, 146, 103);
}

.referencesbackground{
    background-color:rgb(235, 216, 255);
    color:rgb(143, 24, 255);
}

.minorbackgroundimage{
    position: relative;
    text-align: center;
    margin: 0%;
}

.minorbackgroundimage img{
    width: 100%;
}

/* This section deals with headings and the paragraph tag. */

p{
    font-size:24px

}

h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 96px;
    color:DarkCyan;
}

h2{
    font-family: Verdana, Tahoma, serif;
    font-size: 28px;
    color: DarkCyan;
}

/* This section deals with the tables/charts used in the non-home pages of the website */

th, td{
    border: 3px solid;
    height: 40px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    padding: 5px;
}

table{
    width: 46%;
}

/* This section deals with the color of the tables*/

.duketable{
    color: whitesmoke;
}

.pierrottable{
    color: rgb(46, 46, 46);
}

.tomtable{
    color: rgb(60, 193, 255); 
}

/* These lines deal with minor images on the homepage */

.homeimages img { 
    float: right; 
    margin-right:125px; 
    width: 450px; 
}

/* This section deals with the headings for various personas on the homepage */

.minorpersonaheading{
    text-align: right;
    margin-right: 650px;
    line-height: 3.5;
    color:DarkCyan;
    background-color: #070420;
}

.minorpersonaheading a:link{
    text-decoration-line: underline;
    color:DarkCyan;
}

/* This section deals with descriptions and their positioning */

.descriptioncenter,.descriptionleft,.descriptionright{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}

.descriptionleft,.descriptionright{
    text-align: center;
    background-color:transparent;
}

.descriptioncenter{
    text-align: right;
    margin-right: 650px;
    margin-left: 75px;
    background-color: #070420;
    color:whitesmoke;
}

.descriptionleft{
    margin-right: 450px;
    margin-left: 175px;
}

.descriptionright{
    margin-left: 450px;
    margin-right: 175px;
}

/* This section deals with heading positioning */

.headingleft,.headingright,.headingcenter{
    text-align: center;
    line-height: 3.5;
}

.headingleft{
    margin-right: 450px;
    margin-left: 175px;
}

.headingright{
    margin-left: 450px;
    margin-right: 175px;
}

.headingcenter{
    color:rgb(255, 250, 207);
}

/* This section deals with colors and highlights for text among the pages */

.dukeheadercolor{
    color:rgb(255, 250, 207);
}

.pierrotheadercolor{
    color:rgb(84, 58, 65);
}

.tomheadercolor{
    color:rgb(97, 235, 250);
}

.ziggyheadercolor{
    color:rgb(52, 15, 3);
}

.pierrotcolor{
    color:rgb(62, 7, 7);
}

.dukecolor{
    color:whitesmoke;
}

.tomcolor{
    color:rgb(190, 249, 255);
}

.ziggycolor{
    color:rgb(138, 26, 3);
}

.highlightnight{
    background-color: #070420;
}

/* This section deals with the navigation bar. */

.navigation{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    font-family: 'Raleway', sans-serif;
    background-color: rgb(7, 4, 32,0.3);
    padding-right:15px;
    padding-left:15px;
    top: 0;
    left: 0;
}

.navigationdisplay{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

/* This section is dedicated to the colors featured on each page's navigation bar's opaque background. */

#dukenav{
    background-color: rgba(63, 63, 63, 0.7);
}

#homenav{
    background-color: rgb(7, 4, 32, 0.7);
}

#pierrotnav{
    background-color: rgba(185, 202, 255, 0.7);
}

#tomnav{
    background-color: rgba(7, 15, 74, 0.7);
}

#ziggynav{
    background-color: rgba(60, 16, 4, 0.7);
}

#tomnav{
    background-color: rgba(7, 43, 150, 0.3);
}

#referencesnav{
    background-color: rgba(37, 0, 112, 0.3);
}

/* These classes and indexes manage the links within the navigation bar. */
.navigation li{
    list-style: none;
    display:inline-block;
}

.navigation li a{
    font-weight: 50;
    font-size: 24px;
    margin-right: 15px;
    margin-left: 15px;
    color:whitesmoke;
}

.navigation li a:hover{
    color:rgb(235, 137, 255);
}

#darktext li a{
    color:grey;
}

#darktext li a:hover{
    color:rgb(32, 28, 28);
}

/* This is the common format added to quotes from the website.   */

.quote{
    font-size:48px;
    line-height: 2;
    text-align: center;
}

/* The following classes define the font type and color of the quotes.  */
.whitequote{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, serif;
    color: whitesmoke;
    text-shadow: 3px 3px 5px rgb(192, 192, 192);
}

.redquote{
    font-family: 'Comforter';
    color: rgb(82, 17, 17);
    text-shadow: 3px 3px 5px rgb(81, 81, 81);
}

.lightbluequote{
    font-family: 'Comforter';
    color:rgb(177, 243, 255);
    text-shadow: 3px 3px 5px rgb(76, 163, 173);
}

.ziggyquote{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(141, 1, 1);
    text-shadow: 3px 0px 2px rgb(2, 14, 127);  
}

/* This is for large quotes used on the main page. */

#quote1{
    font-size:80px;
    line-height: 2;
    color:white;
    text-shadow: 12px 12px darkgrey;
}

#quote2{
    font-size:68px;
    line-height: 2;
    color:rgb(219, 221, 152);
    text-shadow: 12px 12px rgb(164, 163, 126);
}

/* This is a section where the crediting portion of quotes are stylized.  */

#quoteauthor,#quoteauthor2,#quoteauthor3,#quoteauthor4,#quoteauthor5{
    font-size:24px;
}

#quoteauthor{
    color:lightcyan;
}

#quoteauthor2{
    color:whitesmoke;
}

#quoteauthor3{
    color: rgb(119, 33, 33);
}

#quoteauthor4{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(82, 45, 45);
}

#quoteauthor5{
    color:rgb(107, 233, 255);
}

#quoteauthor,#quoteauthor2,#quoteauthor3,#quoteauthor4,#quoteauthor5,#quote1,#quote2{
    text-align: center;
}

/* This section is for the various individual elements on the home page */

.bigdescriptiontext{
    text-align: center;
    margin-right: 250px;
    margin-left: 250px;
}

#explanationmainpage{
    font-size:24px;
}

.explanationpage{
    font-size:24px;
    background-color:transparent;
}

#personasheading{
    text-decoration-line: underline;
}

#hr1{
    width:54%;
}

/* This section is for the "Bowie's Personas" message on every page's navigation bar. There is a dark and a normal option. */

.navtitle{
    font-weight: 50;
    font-size: 48px;
    font-family: 'Raleway', serif; 
}

.lightnavtitle{
    text-shadow: 6px 2px brown;
    color: whitesmoke;
}

.darknavtitle{
    text-shadow: 6px 2px rgb(74, 243, 255, 0.3);
    color: brown;
}

/* This section is dedicated to the images featured on the website's pages */

.widecenteredimage{
    display: block;
    border-radius: 24px;
}

/* This is class displays images as blocks*/
.displayblock{
    display: block;
}

/* Classes that can form the common image positions used on the website's pages*/
.imageposright{
    margin-right: 175px;
    margin-left: 450px;
}

.imageposleft{
    margin-right: 450px;
    margin-left: 175px;
}

#pierrothair,#tomvideo,#ziggyface{
    float: right;
}

#pierrotsmoking,#tomashes{
    float: left;
}

.lightsanding{
    border-radius: 8px;
}

.mediumsanding{
    border-radius: 16px;
}

/*Images used*/

#scarymonsters{
    margin-left: 350px;
}

#pierrothair{
    margin-top: 160px;
    margin-right: 120px;
}

#pierrotsmoking{
    margin-top: 25px;
    margin-left: 40px;
}

#tomvideo{
    margin-top: 25px;
    margin-right: 125px;
}

#tomashes{
    margin-top: 175px;
    margin-left: 85px;
}

#ziggyface{
    margin-top: 125px;
    margin-right: 125px;
}

/* This section is dedicated to the titles featured on the website's pages */

/* This class is simply used to make the placement of images absolute*/
.absolute{
    position: absolute;
}

/*Classes and indexes for the the titles on the index page*/

.bowietitle{
    text-align: left;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#bowietitlemain {
    left: 50px;
    text-shadow: 8px 8px brown;
    font-size: 128px;
    color:navy;
}

#bowietitlesecond{
    left: 150px;
    top: 120px;
    text-shadow: 6px 6px beige;
    font-size: 56px;
    color:brown;
}

/*Classes and indexes for the the titles on the thin white duke page*/

.twdtitle{
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    text-align: left;
    margin-left:50px;
    color:whitesmoke;
}

#twdtitle1pt1{
    text-shadow: 3px 3px 5px rgb(43, 42, 42);
    top:50px;
}

#twdtitle1pt2{
    text-shadow: 3px 3px 5px rgb(43, 42, 42);
    top:195px;
}

#twdtitle2{
    font-family: 'Comforter';
    top: 315px;
    left: 200px;
    text-shadow: 3px 3px 5px rgb(43, 42, 42);
}

/*Classes and indexes for the the titles on the pierrot page*/

.pierrottitle{
    font-family: 'Comforter';
    font-weight: lighter;
    text-align: left;
    color:black;
}

#pierrottitle1{
    margin-left: 50px;
    text-shadow: 3px 3px 5px rgb(81, 81, 81);
}

#pierrottitle2{
    top: 120px;
    left: 200px;
    text-shadow: 2px 2px 5px rgb(81, 81, 81);
}

/*Classes and indexes for the the titles on the major tom page*/

.tomtitle{
    font-family: 'Roboto', sans-serif;
    color:rgb(210, 205, 255);
    text-shadow: 3px 3px 5px rgb(154, 147, 218);
}
#tomtitle1{
    text-align: right;
    top:125px;
    margin-left:740px;
}

#tomtitle2, #tomtitle3, #tomtitle4, #tomtitle5{
    text-align: left; 
}

#tomtitle2{
    top:250px;
    margin-left:970px;
}

#tomtitle3{
    top:300px;
    margin-left: 1030px;
}

#tomtitle4{
    top: 350px;
    margin-left: 1090px;
}

#tomtitle5{
    top: 400px;
    margin-left: 1150px;
}

/*Classes and indexes for the the titles on the ziggy page*/

.ziggytitle{
    font-family: 'Tilt Prism', 'Impact',  'cursive';
    text-align: left; 
    color:rgb(123, 8, 0);
    text-shadow: 3px 3px 5px rgb(255, 220, 208);
}

#ziggytitle1{
    top:5px;
    margin-left:55px;
}

#ziggytitle2{
     top: 35px;
    margin-left: 695px;
}

/*This section deals with the footer of the website*/

footer{
    text-align: left;
    padding: 7px;
    color: white;
}

.footercolor{
    background-color: rgb(17, 34, 66);
}

.valid{
    border:0; 
    width:88px;
    height:31px
}

/*This section deals with the reference page                                                                                                                                                                                                                                           */
#referencesmargins{
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;                                                                                  
    margin-right: 250px;
    margin-left: 250px;
}

#referencestitle{
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
    font-size:96px;
    color: rgb(25, 52, 171);
}   